doctype html
html
    head
        title= title
        link(rel='stylesheet',href='/stylesheet/main.css')
    body
        div(id="header")
            h1
                | Vikene's Blog
            section(id="status")
                div(class="status_text offline")
                    | #{status}
        
        div(id="content")
            section(id="post")
                div(id="post_head")
                    | Hellow WorldHellow WorldHellow WorldHellow World
                div(id="post_content")
                    | Heyaaaaaaaaaaaa
                div(id="post_tags")
                    | #check ,#working,#test,#case
                    div(id="like")
                        | Like
                
                
        